.navbar {
    background-color: $primary-color;
    border-bottom: 10px;
    position: fixed;
    z-index: 9999;
}

.text-bg-custom {
    background-color: $secondary-color;
  }

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: $primary-color;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 4px/4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $secondary-color;
  }