body {
    font-family: 'Courier New', Courier, monospace;
    background-color: $secondary-color;
    color: aliceblue;
}

.container .main {
    width: 50%;
    border-top: 5px;
  }

.bg-custom {
    background-color: $primary-color;
}

#brand {
    font-size: 30px;
}