<!-- myapp/templates/myapp/feed.html -->

{% extends 'base.html' %}

{% block content %}
<div class="d-grid gap-5 d-md-flex justify-content-md-center">
    <p><a href="{% url 'create-ticket' %}"><button type="button" class="btn btn-custom">Demander une
                critique</button></a></p>
    <p><a href="{% url 'create-review' %}"><button type="button" class="btn btn-custom">Créer une critique</button></a>
    </p>
</div>

<div class="container main_feed">
    
    {% for instance in posts %}

    {% if instance.content_type == 'REVIEW' %}
    {% include 'myapp/partials/review_snippet.html' with review=instance %}

    {% elif instance.content_type == 'TICKET' %}
    {% include 'myapp/partials/ticket_snippet.html' with ticket=instance %}

    {% endif %}

    {% endfor %}

</div>

{% endblock content %}