<!-- myapp/templates/myapp/subscriptions.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">

        <h2 class="d-flex justify-content-center">Suivre d'autres utilisateurs</h2>
        <form class="d-flex" method="post">
            {% csrf_token %}
            <div class="p-4 flex-fill">{{ form.follows }}</div>
            <div class="p-4 d-flex justify-content-end">
                <button type="submit" class="btn btn-custom">Envoyer</button>
            </div>
        </form>
        <p>{{ message }}</p>

        <h2 class="d-flex justify-content-center">Abonnements</h2>
        {% for user in followed %}
        <table class="table table-borderless bg-transparent bg-gradient border-transparent text-white">
            <tbody>
                

                <th scope="col">{{ user }}</th>

                <th scope="col">
                    <form class="d-flex justify-content-end" method="post">
                        {% csrf_token %}
                        {{ unfollow_form }}
                        <div class=" d-flex justify-content-end">
                            <input type="hidden" value='{{ user }}' name="user">
                            <button type="submit" class="btn btn-custom">Désabonner</button>
                        </div>
                    </form>
                </th>
                
            </tbody>
        </table>  
        {% endfor %}

        


        <h2 class="d-flex justify-content-center">Abonnés</h2>
        {% for user in followers %}
        <table class="table table-borderless bg-transparent bg-gradient text-white">
            <tbody>
                <th scope="col">{{ user }}</th>
            </tbody>
        </table>
        {% endfor %}


    </div>
</div>


{% endblock content %}