<!-- myapp/templates/myapp/ticket_review.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card border-transparent bg-transparent bg-gradient mb-3 text-white" style="max-width: 100%;">

        <div class="card-header d-flex justify-content-center m-1">
            <span class=""><h3>Créer une critique</h3></span>
        </div>

        <div class="card-body  m-3">
            <h5>Vous êtes en train de poster en réponse à : </h5>

            <div class="card bg-custom bg-gradient">
                <div class="card-header">
                Ticket - {{ ticket.requester }}
                </div>

                <div class="card-body">
                    <h5 class="card-title">{{ ticket.title }}</h5>
                    <p class="card-text">{{ ticket.description }}</p>
                    <p><img src="{{ ticket.image.url }}" /></p>
                </div>
            </div>

            <form class="p-3" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="m-2">Titre : </p>
                <span class="m-2">{{ review_form.title }}</span>
                <p class="m-2">Note : </p>
                <div class="d-flex">
                    <span class="p-2">{{ review_form.rating.0 }}</span>
                    <span class="p-2">{{ review_form.rating.1 }}</span>
                    <span class="p-2">{{ review_form.rating.2 }}</span>
                    <span class="p-2">{{ review_form.rating.3 }}</span>
                    <span class="p-2">{{ review_form.rating.4 }}</span>
                    <span class="p-2">{{ review_form.rating.5 }}</span>
                </div>
                <p class="m-2">Commentaire : </p>
                <span class="m-2">{{ review_form.comment }}</span>
                <div class="col-md-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-custom">Envoyer</button>
                    </div>
            </form>

        </div>  
    </div>
</div>
{% endblock content %}